<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <link href="/css/style.css" rel="stylesheet" />

    <title>Caption Contest</title>
</head>

<body>
    <form class="container mt-3 mt-md-5" method="post">
        <h1>Caption Contest</h1>
        <p>This is part of Max Rudolph and Rishov Sarkar&rsquo;s final project for ECE 8803 ODM &ldquo;Online Decision Making in Machine Learning.&rdquo;</p>
        <p>You will be presented with a series of comics with captions and asked to rate each caption as a &ldquo;<span class="text-success">funny</span>,&rdquo; &ldquo;<span class="text-warning">somewhat funny</span>,&rdquo; or &ldquo;<span class="text-danger">not funny</span>&rdquo; caption for that comic. After choosing a rating, you will be presented with the next comic-caption pair.</p>
        <p>You may <strong>stop whenever you like,</strong> but we ask that if you return to the site to continue rating captions, <strong>please do so on this device.</strong> Your progress is tracked with a cookie.</p>
        <p>Thanks for your participation!</p>
        <button type="submit" name="begin" value="1" class="btn btn-lg btn-outline-primary d-block mx-auto">Begin</button>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>